.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ControlBar {
  margin-top: 15%;
  border: 1px solid black;
  min-width: 80%;
  padding: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.Field {
  margin-top: 32px;
  border: 1px solid black;
  padding: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Row{
  display: flex;
  flex-direction: row;
}
.Cell {
  width: 16px;
  height: 16px;
  margin: 0px;
  padding: 0px;
  border: 1px solid black;
  box-sizing: content-box;
}
.activeTag {
  border: 1px solid red;
}
.Score{
  margin-top: 8px;
  min-width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.Score div {
  margin-left: 8px;
}